@import url("../../index.css");
.nav-bar{
    width: 100%;
    height: 45px;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: fixed;
}
.nav-bar .image{
    width: 45px;
    height: 45px;
    margin-left: 20px;
}
.nav-bar .image img{
    width: 100%;
}
.links{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
 
