.card-component{
    display: flex;
    justify-content: center;
    margin: 10px auto;
}
.card{
    width: 300px;
    height: 150px;
    margin: 10px;
    /* background: linear-gradient(to right, var(--purple), var(--pink)); */
    /* background: var(--pink); */
    background: var(--purple);
    border-radius: 10px;
}